# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/apps/admin/node_modules
/apps/web/node_modules
/packages/ui/node_modules
/packages/utils/node_modules
/shared/api/node_modules
/shared/constants/node_modules
/shared/datatable/node_modules
/shared/store/node_modules
/shared/types/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/apps/admin/.next/
/apps/web/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo
/apps/admin/.turbo
/apps/web/.turbo

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Build outputs
dist
build
