@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 219, 252, 255;
  --background-start-rgb: 11, 19, 38;
  --background-end-rgb: 11, 19, 38;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family:
    var(--font-inter),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  background-color: #0b1326;
  color: rgb(var(--foreground-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-grotesk), sans-serif;
}
